<?php
return [
    'backend' => [
        'frontName' => 'backend_1234'
    ],
    'crypt' => [
        'key' => 'secretKey'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '127.0.0.1',
                'dbname' => 'db_name',
                'username' => 'db_user',
                'password' => 'db_password',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'session' => [
        'save' => 'files'
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => 'a10_'
            ],
            'page_cache' => [
                'id_prefix' => 'a10_'
            ]
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 0,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 0,
        'config_integration_api' => 0,
        'full_page' => 1,
        'config_webservice' => 0,
        'translate' => 1,
        'vertex' => 0
    ],
    'downloadable_domains' => [
        'domain.com'
    ],
    'install' => [
        'date' => 'Mon, 04 Nov 2019 12:00:34 +0000'
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'system' => [
        'default' => [
            'admin' => [
                'security' => [
                    'session_lifetime' => 0
                ]
            ],
            'google' => [
                'recaptcha' => [
                    'enabled' => 0
                ]
            ],
            'smtp' => [
                'configuration_option' => [
                    'host' => 'mailhog',
                    'port' => 1025,
                    'protocol' => null,
                    'authentication' => 'smtp',
                    'username' => null,
                    'password' => null
                ]
            ],
            'system' => [
                'smtp' => [
                    'host' => 'mailhog',
                    'port' => '1025'
                ]
            ],
            'web' => [
                'unsecure' => [
                    'base_url' => 'http://magento2.local',
                    'base_link_url' => '{{unsecure_base_url}}'
                ],
                'secure' => [
                    'base_url' => '{{unsecure_base_url}}',
                    'base_link_url' => '{{secure_base_url}}'
                ]
            ]
        ]
    ]
];
